
/* Шрифты */

@font-face {
	font-family: HelveticaNeueCyr Roman;
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Roman.otf')  format('opentype'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*============================================ 
	Основные стили
============================================*/
input,
button {
	border: none;
	outline: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	margin: 0;
}
::-webkit-input-placeholder {color:#bbbcbe;}
::-moz-placeholder          {color:#bbbcbe;}/* Firefox 19+ */
:-moz-placeholder           {color:#bbbcbe;}/* Firefox 18- */
:-ms-input-placeholder      {color:#bbbcbe;}


body{
	font-family: 'HelveticaNeueCyr Roman', sans-serif;
	line-height: 1.5;
	color: #424a55;
	background: url('../images/bg.png') #f1f2f4;
	background-size: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

header {
	/*border-top: 1px solid #dcdcdc;
	margin-top: 10px;*/
	margin-bottom: 20px;
}

header .search_block,
header .info_block,
header .cart_block {
	float: left;
}
header .flex {
	display: flex;
	flex-wrap: wrap;
}
a.logo {
	display: block;
	padding-top: 10px;
	padding-bottom: 3px;
}
a.logo img {
	margin: 0 auto;
}
header .row > .flex {
	align-items: center;
	justify-content: space-between;
}
header .search_block {
	padding-top: 21px;
}
.search_block .search {
	position: relative;
	width: 300px;
}
.search_block input {
	width: 100%;
	height: 42px;
	line-height: 42px;
	border: 2px solid #e0e1e3;
	border-radius: 21px;
	outline: none;
	padding: 0 15px;
	padding-right: 40px;
}
.search_block button {
	position: absolute;
	right: 0;
	top: 0;
	height: 42px;
	width: 42px;
	border-radius: 21px;
	border: none;
	outline: none;
	background: url('../images/search.png') no-repeat transparent;
	background-position: 10px 12px;
}
.search_block .example {
	padding-left: 18px;
}
.search_block .example a {
	color: #ff0131;
	text-decoration: underline;
	font-size: 14px;
}
.search_block .example a:hover {
	text-decoration: none;
}
header .info_block {
	overflow: hidden;
}
.info_block .contacts,
.info_block .work_time {
	float: left;
}
.info_block .contacts {
	margin-right: 35px;
}
.info_block .contacts a {
	border-bottom: 1px solid #21252b;
	color: #424a55;
	text-decoration: none;
}
.info_block .contacts::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 22px;
	background: url('../images/sprite.png') no-repeat;
	background-position: -1px -11px;
	margin-right: 10px;
}
.info_block .work_time::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 22px;
	background: url('../images/sprite.png') no-repeat;
	background-position: -19px -11px;
	margin-right: 10px;
}
.phone_num {
	margin-bottom: 10px;
}
.phone_num > a.call {
	display: block;
	height: 30px;
	font-size: 22px;
	color: #454d59;
	font-weight: bold;
	text-decoration: none;
}
.phone_num > a.callback {
	font-size: 14px;
	color: #ff0131;
	border-bottom: 1px solid #ff0131;
	text-decoration: none;
}
.phone_num > a.callback:hover {
	border: none;
}
.icon_cart{
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 30px;
	text-align-last: center;
	background: url('../images/sprite.png');
	background-position: -38px -2px;
	position: relative;
}
.icon_cart>span {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background: #f1f2f4;
	color: #ff0131;
	font-size: 10px;
	width: 13px;
	height: 13px;
	line-height: 13px;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 15px;
}
.cart {
	text-decoration: none;
	color: #424a55;
	display: block;
}
.cart:hover {
	text-decoration: none;
}
.cart .txt {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 6px;
}

/* Нижняя часть шапки */
header .container-fluid {
	background: #21252b;
}
ul.header_nav {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 50px;
}
ul.header_nav > li {
	float: left;
	padding: 0;

}
ul.header_nav a {
	color: #ffffff;
	display: block;
	padding: 0 10px;
	text-decoration: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	transition: all .1s linear;
}
ul.header_nav > li.active a {
	background: #424a55;
}
ul.header_nav >li a:hover {
	background: #ff0131;
}
ul.header_nav span.round {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	background: #ffffff;
	color: #000000;
	margin-left: 10px;
	position: relative;
	top: -1px;
}
ul.header_nav .user,
nav.container .user {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 24px;
	background: url(../images/sprite.png);
	background-position: -390px -8px;
}
nav.container .enter_btn,
nav.container .menu_toggle{
	float: right;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	border-radius: 5px;
	margin: 27px 0 26px 5px;
}
nav.container .menu_toggle {
	background-color: #21252b;
	line-height: 52px;
}
nav.container .menu_toggle > div {
	margin: 0;
}
nav.container .enter_btn:hover,
nav.container .menu_toggle:hover {
	background: #ff0131;
}
nav.container .enter_btn:active,
nav.container .menu_toggle:active,
button.close_menu:active,
.card_info_block .card_links > a:active,
.modal.callback  .order_btn:active {
	-webkit-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
}
header a.logo_small {
	margin: 10px 0;
}
header .mob_call {
	float: left;
	color: #ffffff;
	display: block;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	padding: 32px 20px;
}
button.close_menu {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #ff0131;
	margin-bottom: 10px;
}
button.close_menu::before {
	content: "\2716";
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
}
.mobile_search {
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	width: 210px;
	margin: 10px 0 10px 20px;
}
.mobile_search input {
	width: 100%;
	display: block;
	height: 40px;
	padding-left: 15px;
	padding-right: 45px;
}
.mobile_search button {
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	right: 0;
	top: 0;
	background: url('../images/search.png') no-repeat 10px 10px red;

}

/* Боковая колонка*/

aside > div {
	border-radius: 10px;
	overflow: hidden;
	background: #ffffff;
}
aside .delivery {
	margin: 20px 0;
}
.aside_header {
	background: #21252b;
	color: #f1f2f4;
	font-size: 18px;
	text-transform: uppercase;
	padding: 15px 20px;
}
.hamb {
	display: inline-block;
	vertical-align: baseline;
	width: 18px;
	height: 15px;
	margin-right: 10px;
	position: relative;
	top: 1px;
}
.hamb span {
	width: 100%;
	height: 3px;
	background: #f1f2f4;
	display: block;
	position: absolute;
	top: 6px;
	right: 0;
}
.hamb::before,
.hamb::after {
	content: "";
	display: block;
	width: 18px;
	height: 3px;
	background: #f1f2f4;
	position: absolute;
	right: 0;
}
.hamb::before {
	top: 0;
}
.hamb::after {
	bottom: 0;
}
ul.cat_list {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
ul.cat_list > li {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	border-top: 1px solid #f1f2f4;
}
ul.cat_list > li:first-child {
	border:none;
}
ul.cat_list a {
	display: block;
	text-decoration: none;
	color: #21252b;
	font-size: 16px;
	padding: 0 20px;
	height: 53px;
	line-height: 53px;
}
ul.cat_list a > span {
	border-bottom: 1px solid transparent;
}
ul.cat_list a .separator {
	margin: 0 3px;
}
ul.cat_list a:hover {
	text-decoration: none;
	color: #ff0131;
}
ul.cat_list a:hover span {
	border-bottom: 1px solid #ff0131;
}
ul.cat_list a::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	background: url('../images/sprite.png');
}
ul.cat_list a.cook::before {
	width: 27px;
	height: 27px;
	background-position: -153px -5px;
}
ul.cat_list a.laying::before {
	width: 25px;
	height: 33px;
	background-position: -208px 1px;
}
ul.cat_list a.knife::before {
	width: 25px;
	height: 30px;
	background-position: -260px -3px;
}
ul.cat_list a.drink::before {
	width: 25px;
	height: 25px;
	background-position: -98px -9px;
}
ul.cat_list a.cafe::before {
	width: 25px;
	height: 25px;
	background-position: -312px -8px;
}
ul.cat_list a.accessory::before {
	width: 25px;
	height: 25px;
	background-position: -364px -6px;
}
.aside_footer {
	background: #21252b;
	height: 20px;
}
.delivery .place {
	display: block;
	text-decoration: none;
	color: #21252b;
	font-size: 16px;
	padding: 0 20px;
	height: 52px;
	line-height: 52px;
	border-bottom: 1px solid #f1f2f4;
}
.delivery .place span {
	font-weight: bold;
}
ul.delivery_change {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 15px;
}
ul.delivery_change li {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}
ul.delivery_change li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	background: url('../images/delivery.png');
}
ul.delivery_change li.self::before {
	width: 21px; 
	height: 25px;
	background-position: 2px 0px;
}
ul.delivery_change li.courier::before {
	width: 21px; 
	height: 22px;
	background-position: -17px -3px;
}
ul.delivery_change li.mail::before {
	width: 21px; 
	height: 22px;
	background-position: -42px -7px;
}
ul.delivery_change li a {
	text-decoration: underline;
	color: #00a2ff;
}
ul.delivery_change li a:hover {
	text-decoration: none;
}
ul.delivery_change span.time {
	float: right;
	margin-right: 30px;
	margin-left: 10px;
	color: #21252b;
}


/*  Блок main  */
section {
	margin-bottom: 35px;
}
.title {
	margin-bottom: 15px;
	margin-top: 15px;
}
.title {
	font-weight: bold;
	font-size: 18px;
	color: #21252b;
}
.title > span {
	font-size: 18px;
	color: #21252b;
}
.title .separator::before {
	content: "/";
	color: #848688;;
}
.title .separator + span {
	color: #848688;
}
.item_block + .title {
	margin-top: 10px;
}
/* item_1  */
.item_1,
.item_2{
	background: #ffffff;
	padding: 20px 0px;
	margin: 0;
	color: #000000;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	min-height: 311px;
	border-bottom: 1px solid #dfe0e2;
	border-right: 1px solid #dfe0e2;
	position: relative;
	margin-bottom: 20px;
}
.item_1 > a,
.item_2 > a {
	display: block;
}
.owl-item .item_1 {
	margin-bottom: 0;
}
.item_1 .img_block,
.item_2 .img_block {
	width: 100%;
	min-height: 145px;
	margin-bottom: 10px;
}
.item_1 .img_block img,
.item_2 .img_block img {
	display: block;
	margin: 0 auto;
}
.item_1 .item_name,
.item_1 .item_name {
	display: block;
	text-align: center;
	color: #00a2ff;
	font-size: 16px;
	text-decoration: none;
	padding: 0 20px;
}
.item_1 > a,
.item_2 > a {
	color: #00a2ff;
	text-decoration: none;
}
.item_1 > a:hover .item_name{
	text-decoration: underline;
}

.item_1 .cost_block {
	margin-top: 5px;
}
.item_1 .cost_block > span {
	margin: 0 8px;
}
.item_1 .cost {
	color: #21252b;
	font-size: 16px;
	font-weight: bolder;
}
.item_1 .old_cost {
	text-decoration: line-through;
	color: #ff0000;
}
.item_1 .old_cost > span {
	color: #a5a5a5;
	font-size: 16px;
	font-weight: bolder;
}
.item_1 .by_one_click {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}
.item_1 .by_one_click a {
	display: inline-block;
	background: #ff0000;
	color: #ffffff;
	width: 116px;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.item_1 .action {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-weight: bold;
	font-size: 18px;
}
.item_1 .action.new {
	color: #fff;
	background: #387eff;
}
.item_1 .action.new::before {
	content: "NEW";
}
.item_1 .action.hit {
	color: #fff;
	background: #ff0000;
}
.item_1 .action.hit::before {
	content: "HIT";
}
.item_1 .action.discount {
	background: #ffc938;
	color: #ff0000;
}
.item_1 .action.discount::before {
	content: "-";
}
.item_1 .action.discount::after {
	content: "%";
}

/* item_2 */
.item_2 {
	min-height: 250px;
	margin-bottom: 20px;
}
.item_2 hr {
	margin: 20px 40px 10px 40px;
}
.item_2 > a:hover .item_name{
	color: #ff0131;
}


/* item_block */
.item_block {
	overflow: hidden;
}
.item_block .item_1,
.item_block .item_2 {
	float: left;
	width: 25%;
}
p.hits {
	margin-bottom: 50px;
	font-size: 16px;
	color: #6b7079;
}
/* Бренды */
.brand_list > div {
	text-align: center;
}
.brand_list a {
	display: inline-block;
	width: 160px;
	height: 80px;
	background: #ffffff;
	border-radius: 8px;
	border-bottom: 2px solid #e7e8ea;
	border-right: 1px solid #e7e8ea;
}
.brand_list a.ADHoc {
	background: url('../images/ADHoc.png') center no-repeat;
}
.brand_list a.Bialetti {
	background: url('../images/Bialetti.png') center no-repeat;
}


.white_block {
	background: #ffffff;
	padding-top: 45px;
	padding-bottom: 20px;
}
.white_block p {
	font-size: 16px;
	color: #6b7079;
	margin: 0 0 20px 0;
	line-height: 1.45;
}
.white_block .advice_img {
	margin:  0 auto 20px auto;
}
.white_block .label_goods,
.white_block .label_delivery {
	width: 280px;
	height: 85px;
	border-radius: 8px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	-webkit-box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.5);
}
.white_block .label_goods {
	float: left;
}
.white_block .label_delivery {
	float: right;
}
.label_goods .img_block,
.label_delivery .img_block {
	float: left;
	width: 40%;
	height: 85px;
	background: url('../images/sprite2.png') no-repeat -17px 10px;
}
.label_delivery .img_block {
	background-position: -17px -52px;
}
.label_goods span,
.label_delivery span {
	display: block;
	float: left;
	width: 60%;
	height: 85px;
	padding: 30px 5px 10px 5px;
	color: #21252b;
	font-weight: bold;
	font-size: 16px;
}
.label_delivery span {
	padding-top: 22px;
}
/* новости */
.news img {
	margin: 0 auto;
}
.news a.new {
	display: block;
	margin-bottom: 10px;
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
.news a.new:hover {
	text-decoration: none;
}
.news a.new span {
	display: block;
	text-align: center;
}
a.new .img_block {
	margin-bottom: 10px;
}

/* футер */
footer {
	background: #292929;
	color: #ffffff;
}
footer .subscribe_block {
	background: #474747;
	font-size: 16px;
	font-weight: bold;
	min-height: 70px;
}
footer .subscribe_input {
	height: 40px;
	line-height: 40px;
	width: 100%;
	border-radius: 10px;
	padding-left: 20px;
	margin: 15px 0;
	font-weight: normal;
	color: #21252b;
}
footer .subscribe_btn {
	display: block;
	color: #ffffff;
	background: #ff0000;
	height: 40px;
	line-height: 40px;
	width: 100%;
	border-radius: 10px;
	text-align: center;
	margin: 15px 0;
}
footer .subscribe_btn:active {
	-webkit-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
}
.subscribe_block label {
	margin: 0;
	padding: 0;
	word-spacing: 5px;
	display: block;
	margin: 23px 0;
}
a.logo_small {
	float: left;
	vertical-align: middle;
	width: 83px;
	height: 83px;
	background: url('../images/logoSM.png') no-repeat 1px 2px;
}
footer ul.links_ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.links_ul li {
	display: block;
	padding-bottom: 3px;
}
ul.links_ul a {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}
ul.links_ul a:hover {
	text-decoration: underline;
}
footer .phone_num .call {
	color: #ffffff;
}
footer .adress,
footer .email {
	font-size: 14px;
	color: #878787;
	line-height: 24px;
}
footer .email > span {
	margin-left: 10px;
}
footer > .container {
	padding-top: 15px;
	padding-bottom: 20px;
}
footer .copyright_block {
	background: #101010;
	min-height: 70px;
	line-height: 70px;

}
footer .copyright_block a,
footer a.conf {
	color: #ff0131;
	text-decoration: none;
	border-bottom: 1px solid #ff0131;
}
footer .copyright_block a {
	margin: 0 5px;
}
footer .copyright_block a:hover,
footer a.conf:hover {
	border-color: transparent;
}
.overlay {
	display: none;
	width: 100%;
	position: fixed;
	z-index: 10;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.8);
}
footer .footer_btn {
	height: 30px;
	line-height: 30px;
	display: block;
	width: 100%;
	border-radius: 5px;
	background: #21252b;
	color: #ffffff;
	margin-bottom: 20px;
}
footer .footer_btn:active {
	-webkit-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
}


/*  Слайдер (банеры)*/
#owl-demo {
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}
.owl-controls {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.owl-theme .owl-controls .owl-page span {
	width: 14px;
	height: 14px;
	margin: 3px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}
/*  Слайдер items */
.item_owl {
	position: relative;
}
#owl-items {
	border-bottom: 1px solid #dfe0e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
#owl-items .owl-controls {
	display: none !important
}
.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 40px;
	border-radius: 0;
	background: rgba(223, 224, 226, 0.4);
	transition: all 0.2s linear;
	font-family: monospace;
	font-size: 25px;
	padding: 0;
	color: #9e9e9e;
}
.customNavigation a:hover,
.customNavigation a:active {
	background-color: #ff0131;
	color: #ffffff;
}
.customNavigation a.prev {
	left: 0;
	transform: translate(-50%, -50%);
}
.customNavigation a.prev:before {
	
	display: inline-block;
	width: 20px;
	height: 20px;
}
.customNavigation a.next {
	right: 0;
	transform: translate(50%, -50%);
}
.h1_block {
	overflow: hidden;
	margin-bottom: 13px;
}
.h1_block h1 {
	color: #21252b;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin: 0;
}
.breadcrumbs span,
.breadcrumbs a {
	color: #ff0131;
	font-size: 12px;
	text-decoration: underline;
}
.breadcrumbs a,
.breadcrumbs .sep {
	color: #21252b;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.breadcrumbs .sep::before {
	content: "-";
}
.h1_block .breadcrumbs {
	float: right;
}
.baner img {
	width: 100%;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.15);
}
.mobile_cat {
	display: none;
}
.mobile_cat button {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	background: #ff0131;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}
.mobile_cat button:active {
	-webkit-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.5);
}



.cat_block {
	background: #ffffff;
	margin-bottom: 20px;
	padding: 20px 40px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.15);
}
.cat_block ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.cat_block ul li {
	display: block;
	float: left;
	margin: 10px;
}
.cat_block ul li a {
	display: block;
	text-decoration: none;
	padding: 0px 20px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #21252b;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #dddee0;
}
.cat_block ul li.active a {
	background: #ff0000;
	color: #ffffff;
}
.filter_block {
	background: #ffffff;
	margin-bottom: 35px;
	padding: 10px 0;
}
.filter_block > .container {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.dop_filters {
	display: none;
	text-align: center;
	padding: 20px 0;
}
.dop_filters a {
	font-size: 14px;
	color: #ff0131;
	border-bottom: 1px solid #ff0131;
	text-decoration: none;
}
/* Диапазон цен */
.filter_block .range {
	float: left;
	margin: 10px;
	width: 365px;
}
.cost_inputs {
	margin-bottom: 20px;
}
.cost_inputs .text {
	display: none;
	text-align: center;
	margin-bottom: 10px;
}
.cost_inputs .input_group {
	float: left;
	width: 50%;
}
.cost_inputs .input_group:last-child {
	text-align: right;
}
.range input {
	width: 120px;
	height: 40px;
	line-height: 40px;
	border: 2px solid #dddee0;
	border-radius: 3px;
	padding: 0 20px;
	text-align: right;
}
.ui-slider-horizontal .ui-slider-handle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: -.3em;
	background: #ff0000;
	border: none !important;
	outline: none;
	cursor: pointer;
}

.ui-slider-horizontal {
	height: 1px;
}
.ui-widget.ui-widget-content {
	border: none;
	margin: 0 5px;
	background: #dddddd;
}
.ui-slider-horizontal .ui-slider-range {
	background: #b9b9bb;
}
.ui-widget-content .ui-state-focus,
.ui-state-active {
	background: #ff0000;
}
/*========*/

.filter_block .select {
	float: left;
	min-width: 100px;
	position: relative;
	cursor: pointer;
	margin: 10px;
	align-self: flex-start;
}
.select .panel {
	display: block;
	height: 40px;
	line-height: 37px;
	padding: 0px 40px 0px 15px;
	position: relative;
	border: 2px solid #dddee0;
	border-radius: 3px;
	padding-right: 100px;
}
.select .panel::after {
	content: "";
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	background: url('../images/angle.png') no-repeat center transparent;
}
.select ul.drop_select {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 10;
	background: #ffffff;
	border: 2px solid #dddee0;
	border-top: none;
	display: none;
}
ul.drop_select li {
	padding: 0 20px 0 15px;
	height: 30px;
	line-height: 30px;
	transition: all .1s linear;
}
ul.drop_select li:hover {
	background: #dddee0;
}

/* Галерея */
.card_block {
	overflow: hidden;
	background: #ffffff;
	border-radius: 10px;
	margin-top: 35px;
}
.card_gallery_block {
	width: 70%;
	float: left;
	border-right: 1px solid #e0e1e3;
	position: relative;
}
/* Костыль для вертикальной линии */
.card_gallery_block::before,
.card_gallery_block::after {
	content: "";
	display: inline-block;
	width: 2px;
	height: 42px;
	position: absolute;
	right: -1px;
	background: #ffffff;
}
.card_gallery_block::before {
	top: 0;
}
.card_gallery_block::after {
	bottom: 0;
}
/*===*/

.card_info_block {
	width: 30%;
	float: left;
	padding: 5px 0;
}
.card_gallery_block .title_block {
	padding: 5px 20px 20px 20px;
}
.card_gallery_block .title_block h1 {
	margin: 0;
	font-size: 18px;
	color: #21252b;
	display: inline;
}
.card_gallery_block .title_block > a {
	font-size: 12px;
	color: #ff0131;
	margin-left: 20px;
	text-decoration: underline;
}

.card_gallery_block .gallery {
	max-width: 400px;
	margin: 0 auto 30px;
}
.card_gallery_block .gallery img {
	width: 100%;
}

.gallery .previews_block {
	position: relative;
	margin-top: 26px;
}
.gallery .previews {
	display: flex;
	justify-content: space-around;
}
.gallery .previews .preview {
	display: flex;
	align-items: center;
	width: 103px;
	height: 103px;
	border: 1px solid #ecedef;
	border-radius: 10px;
	overflow: hidden;
	background: #ffffff;
	cursor: pointer;
}

.previews_block button {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: monospace;
	font-size: 22px;
	padding: 0;
	color: #9e9e9e;
	background: #f0f0f0;
}
.previews_block button:hover,
.previews_block button:active {
	background-color: #ff0131;
	color: #ffffff;
}
.previews_block button.prev {
	left: -39px;
}
.previews_block button.prev::before {
	content: "<";
}
.previews_block button.next {
	right: -39px;
}
.previews_block button.next::before {
	content: ">";
}

.card_info_block .cost_block {
	text-align: center;
	margin-bottom: 18px;
}
.card_info_block .old_cost {
	color: #ff0131;
	font-size: 10px;
	text-decoration: line-through;
}
.card_info_block .old_cost span {
	color: #c0c1c1;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: bold;
}
.card_info_block .cost {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	color: #21252b;
	height: 30px;
	line-height: 30px;
}
.card_info_block .saving {
	color: #8c8a8c;
	font-size: 12px;
	text-decoration: underline;
}
.card_info_block hr {
	margin: 0px 25px;
	border-color: #e0e1e3;
}
.card_info_block .card_links {
	margin: 20px 0;
}
.card_info_block .card_links > a {
	display: block;
	margin: 10px auto;
	width: 200px;
	height: 46px;
	line-height: 46px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
}
.card_links > a.in_card,
.tab .review_block .review_btn {
	background: #ff0131;
	color: #ffffff;
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 48px;
	border-radius: 10px;
}
.card_links > a.in_card::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 27px;
	height: 24px;
	margin-right: 10px;
	background: url('../images/sprite3.png') no-repeat -37px -5px;
	position: relative;
	top: -4px;
}
.card_links > a.one_click {
	color: #31312e;
	border: 1px solid #cecfd1;
}
.card_links > div {
	text-align: center;
}
.card_links > div a {
	display: inline-block;
	color: #8c8a8c;
	font-size: 12px;
	margin: 0 5px;
}
.card_links > div a.later::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	background: url('../images/sprite3.png') no-repeat -74px -1px;
}
.card_links > div a.comparison::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 33px;
	height: 20px;
	margin-right: 5px;
	background: url('../images/sprite3.png') no-repeat -110px -8px;
}
.card_info_block .art {
	text-align: center;
	font-size: 12px;
	color: #8c8a8c;
	margin: 5px 0 15px 0;
}
.card_info_block .art span {
	margin-left: 3px;
}
.card_info_block .social_links {
	padding: 0 20px;
	margin-bottom: 20px;
}
.card_info_block .social_links a {
	display: inline-block;
	vertical-align: middle;
	width: 27px;
	height: 27px;
	border: 1px solid #e0e1e3;
	margin-right: 10px;
	background: url('../images/sprite3.png') no-repeat;
}
.card_info_block .social_links a:hover {
	background-color: #e0e1e3;
}
.social_links a.vk {
	background-position: -145px -8px;
}
.social_links a.fb {
	background-position: -164px -8px;
}
.social_links a.tw {
	background-position: -187px -9px;
}
.social_links a.ok {
	background-position: -209px -8px;
}
.card_info_block .print {
	padding: 0 20px;
}
.card_info_block .print a {
	font-size: 12px;
	color: #8c8a8c;
	text-decoration: underline;
}
.card_info_block .print a::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 23px;
	margin-right: 2px;
	background: url('../images/sprite3.png') no-repeat -3px -7px;
}
.tabs_block {
	background: #ffffff;
}
.tabs_block .tabs_ul_block {
	border-bottom: 1px solid #e0e1e3;
}
ul.tabs_ul {
	padding: 0 60px;
}
ul.tabs_ul > li {
	float: left;
	position: relative;
}
ul.tabs_ul > li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	color: #21252b;
	font-size: 18px;
	text-transform: uppercase;
}
ul.tabs_ul > li.active a {
	color: #00a2ff;

}
ul.tabs_ul > li.active::after {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	border-bottom: 3px solid #ff0131;
	position: absolute;
	bottom: -4px;
	left: 0;
}


/* Табы */

.tabs_block .tabs_content {
	padding: 0 55px;
}

.tabs_content .tab {
	display: none;
	padding: 0 20px;
}
.tabs_content .tab p {
	font-size: 16px;
	color: #21252b;
	line-height: 24px;
}
.tabs_content .tab.showed {
	display: block;
}

.tab .description,
.tab .char_block,
.tab .about {
	padding-top: 40px;
	padding-bottom: 40px;
}
.tab .review_block {
	padding-top: 20px;
	padding-bottom: 40px;
}
.tab .review_block .review_btn {
	float: right;
	width: 200px;
}
.tab .review_block .rewiew {
	border: 1px solid #cacbcd;
	border-radius: 10px;
	position: relative;
	padding: 30px 0;
	margin-bottom: 20px;
}
.tab .review_block .rewiew .author {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	top: 0;
	left: 40px;
	background: #ffffff;
	transform: translateY(-50%);
	color: #424a56;
	font-weight: bold;
	font-size: 16px;
}
.rewiew .rewiew_info,
.rewiew .rewiew_text {
	float: left;
}
.rewiew .rewiew_info {
	width: 20%;
	padding-left: 50px;
	padding-right: 10px;
}
.rewiew_info > span {
	display: block;
}
.stars i {
	color: transparent;
}
.stars i.full {
	color: #ffca00;
}
.rewiew_info > span.place {
	color: #424a56;
	font-weight: bold;
	font-size: 16px;
}
.rewiew_info > span.date {
	font-size: 14px;
	color: #424a56;
}
.rewiew_info > span.time {
	color: #ff0131;
}
.rewiew .rewiew_text {
	width: 80%;
}
.rewiew .rewiew_text p {
	font-size: 16px;
	color: #6d6d6d;
	line-height: 24px;
	padding-right: 20px;
}

.tab .char_block h3 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 18px;
	color: #21252b;
	font-weight: bold;
}
.tab .char_block li {
	overflow: hidden;
}
.tab .char_block li span {
	display: block;
	float: left;
	color: #21252b;
	font-size: 16px;
	padding: 10px 0;
}
.tab .char_block li .char_name  {
	width: 30%;
}
.tab .char_block li .char {
	width: 70%;
}


/* Модальные окна */
.modal {
	display: none;
	position: fixed;
	background: #ffffff;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}
.modal {
	width: 600px;
	height: 380px;
	padding: 70px;
}
.modal.callback .input_group {
	margin-bottom: 20px;
}
.modal.callback input {
	width: 100%;
	border-radius: 10px;
	border: 1px solid #bdbdbf;
	height: 42px;
	line-height: 42px;
	padding: 0 20px;
}
.modal.callback .input_group label {
	font-size: 18px;
	color: #21252b;
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}
.modal.callback .btn_block {
	text-align: center;
	margin-bottom: 20px;
}
.modal.callback  .order_btn {
	height: 42px;
	line-height: 42px;
	color: #ffffff;
	background: #ff0131;
	text-align: center;
	width: 160px;
	font-size: 14px;
	border: none;
}
.chekbox_block {
	padding-left: 10px;
}
.chekbox_block a {
	color: #00a2ff;
	text-decoration: underline;
}
.checkbox {
	display: none;
}
.checkbox-custom {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: relative;
	border: 1px solid #54c0ff;
}
.checkbox:checked + .checkbox-custom::before {
	content: "\2714";
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	color: #54c0ff;
	width: 100%;
	text-align: center;
	height: 18px;
	line-height: 18px;
}
.chekbox_block .label {
	display: inline-block;
	width: 92%;
	font-size: 16px;
	color: #9b9b9b;
	line-height: 24px;
}
.modal_close {
	position: absolute;
	right: 20px;
	top: 15px;
	background: #ffffff;
}
.modal_close::before {
	content: "\2716";
	display: inline-block;
	color: #d8d8da;
	font-size: 20px;
}
.scrollbar-rail {
	height: 285px;
}
.scrollbar-rail p {
	font-size: 16px;
	line-height: 24px;
	color: #21252b;
	padding-right: 20px;
}




/* SCROLLBAR */

.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
}
.scroll-wrapper > .scroll-content {
	border: none !important;
	box-sizing: content-box !important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	height: 0;
	width: 0;
}
.scroll-element {
	display: none;
}
.scroll-element, .scroll-element div {
	box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
	cursor: default;
}
.scroll-textarea {
	border: 1px solid #cccccc;
	border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
	overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
	border: none !important;
	box-sizing: border-box;
	height: 100% !important;
	margin: 0;
	max-height: none !important;
	max-width: none !important;
	overflow: scroll !important;
	outline: none;
	padding: 2px;
	position: relative !important;
	top: 0;
	width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
	height: 0;
	width: 0;
}

/*  SCROLLBAR RAIL  */
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div
{
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	z-index: 10;
}
.scrollbar-rail > .scroll-element {
	background-color: #ffffff;
}
 
.scrollbar-rail > .scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.scrollbar-rail > .scroll-element .scroll-element_size {
	background-color: #999;
	background-color: rgba(0, 0, 0, 0.3);
}
.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
	background-color: #666;
	background-color: rgba(0, 0, 0, 0.5);
}
.scrollbar-rail > .scroll-element.scroll-x {
	bottom: 0;
	height: 12px;
	left: 0;
	min-width: 100%;
	padding: 3px 0 2px;
	width: 100%;
}
.scrollbar-rail > .scroll-element.scroll-y {
	height: 100%;
	min-height: 100%;
	padding: 0 2px 0 3px;
	right: 0;
	top: 0;
	width: 12px;
}
.scrollbar-rail > .scroll-element .scroll-bar {
	background-color: #bdbdbf;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
 
/* scrollbar height/width & offset from container borders */
 
.scrollbar-rail > .scroll-content.scroll-scrolly_visible { left: -17px; margin-left: 17px; }
.scrollbar-rail > .scroll-content.scroll-scrollx_visible { margin-top: 17px; top: -17px; }
 
.scrollbar-rail > .scroll-element.scroll-x .scroll-bar { height: 10px; min-width: 10px; top: 1px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-bar { left: 2px; min-height: 10px; width: 7px; }
 
.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer { height: 15px; left: 5px; }
.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size { height: 2px; left: -10px; top: 5px; }
 
.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer { top: 5px; width: 15px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size { left: 5px; top: -10px; width: 1px; }
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -25px; }
 
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -25px; }




/* Медиазапросы */
@media (max-width: 1200px) {
	ul.cat_list a {
		height: 45px;
		line-height: 45px;
	}
	.h1_block {
		margin-bottom: 6px;
	}
	.rewiew .rewiew_info {
		width: 30%;
	}
	.rewiew .rewiew_text {
		width: 70%;
	}
}
@media (max-width: 991px) {
	aside .catalog,
	aside .delivery {
		margin: 0 0 20px 0;
	}
	ul.header_nav {
		width: 0;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		bottom: 0;
		background: #21252b;
		transition: width .3s linear;
		overflow: hidden;
	}
	ul.header_nav.open {
		width: 250px;
	}
	ul.header_nav > li {
		float: none;
	}
	ul.header_nav a {
		text-align: left;
		padding-left: 30px;

	}
	.catalog .aside_header {
		cursor: pointer;
	}
	.aside_footer {
		height: 10px;
	}
	footer .subscribe_block {
		line-height: normal;
	}
	.subscribe_block label {
		margin: 20px 0;
		display: block;
	}
	.item_block .item_1,
	.item_block .item_2 {
		width: 50%;
	}
	ul.cat_list > li {
		width: 50%;
		float: left;
	}
	.card_gallery_block,
	.card_info_block {
		width: 100%;
	}
	.card_gallery_block {
		border: none;
	}
	.card_gallery_block::before,
	.card_gallery_block::after {
		display: none;
	}
	.card_info_block .card_links {
		text-align: center;
	}
	.card_info_block .card_links > a {
		display: inline-block;
		margin-right: 5px;
		margin-left: 5px;
	}
	.card_info_block .social_links,
	.card_info_block .print {
		text-align: center;
	}

}

@media (max-width: 790px) {
	.customNavigation a.prev,
	.customNavigation a.next {
		transform: translate(0, -50%);
	}
}
@media (max-width: 768px) {
	footer ul.links_ul {
		text-align: center;
		display: none;
	}
	.mobile_cat {
		display: block;
	}
	.cat_block {
		padding: 0;
	}
	.cat_block ul {
		display: none;
	}
	.cat_block ul li {
		float: none;
		margin: 0;
	}
	.cat_block ul li:first-child {
		display: none;
	}
	.cat_block ul li a {
		border-radius: 0;
	}
	.dop_filters {
		display: block;
	}
	.filter_block .range {
		margin: 10px 30px;
		width: 100%;
	}
	.filter_block .select {
		width: 100%;
		display: none;
	}
	.filter_block .select.showed {
		display: block;
	}
	.tab .char_block li .char,
	.tab .char_block li .char_name {
		width: 100%;
	}
	.tab .char_block li .char_name {
		background: #e0e1e3;
	}
	.tab .char_block li span {
		padding: 5px 0;
	}
	.rewiew .rewiew_info,
	.rewiew .rewiew_text {
		width: 100%;
	}
	.rewiew .rewiew_info >div,
	.rewiew .rewiew_info > span {
		display: inline-block;
		margin-right: 5px;
	}
	.rewiew .rewiew_text p {
		padding: 20px;
	}
}
@media (max-width: 650px) {
	.white_block .label_delivery,
	.white_block .label_goods {
		display: block;
		float: none;
		margin: 20px auto;
		width: 260px;
	}
	footer .copyright_block {
		line-height: normal;
	}
	footer .copyright_block {
		padding: 20px 0;
	}
	.card_block {
		margin-top: 15px;
	}
	ul.tabs_ul > li {
		width: 100%;
	}
	ul.tabs_ul > li a {
		padding: 5px 15px;
		font-size: 15px;
	}
	.tab .review_block .review_btn {
		width: 100%;
		height: 30px;
		line-height: 30px;
	}
	.modal {
		width: 90%;
		height: 80%;
		padding: 70px 30px;
	}
	.scrollbar-rail {
		height: 100%;
	}
}
@media (max-width: 550px) {
	.previews_block button {
		top: 170%;
	}
	.previews_block button.next {
		right: 0;
	}
	.previews_block button.prev {
		left: 0;
	}
	.rewiew .rewiew_info {
		padding: 0 10px 0 20px;
	}
}
@media (max-width: 500px) {
	.item_block .item_1,
	.item_block .item_2 {
		width: 100%;
	}
	.cost_inputs span {
		display: none;
	}
	.cost_inputs .text {
		display: block;
	}
	.chekbox_block .label {
		width: 85%;
	}
	header .mob_call {
		font-size: 18px;
		padding: 38px 15px;
	}
}
@media (max-width: 450px) {
	header .mob_call {
		font-size: 15px;
		padding: 42px 10px;
	}
}
@media (max-width: 400px) {
	header .mob_call {
		display: none !important;
	}
}
@media (max-width: 380px) {
	.brand_list > div {
		float: none;
		width: 100%;
	}
	.range input {
		width: 80px;
		padding: 0 5px;
	}
	ul.cat_list {
		display: none;
	}
	ul.cat_list > li {
		float: none;
		width: 100%;
	}
	.gallery .previews .preview {
		width: 80px;
		height: 80px;
	}
	.previews_block button {
		top: 190%;
	}
	.modal {
		padding: 70px 20px 40px 20px;
	}
}


