/*============================================

	Чистый HTML шаблон.

	Тарасенко Сергей
	E-mail: tarasenko-by@mail.ru
	VK.com: vk.com/sergei_tarasenko
	Site: creade.ru
	© 2014-2017

============================================*/





/*============================================ 
	Основные стили
============================================*/
body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	color: #222;
}
